/*.nav{
    display: flex;
    
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    padding-top: 10px;
}

.nav-menu-item{
    font-size: 18px;
    margin: 40px 0px;
    line-height: 20px;
    text-transform: uppercase;
    width: max-content;
    display: block;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link.active, .nav-menu-link:hover{
    color:  #a7c717 ;
}


.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    margin-right: 80px;
    margin-bottom: 50px;
    display: block;

}
*/


